<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <nav>
      <%= link_to "Blog", root_path %>
      <%= link_to "About", about_path %>

    </nav>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class:'alert') %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
