<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <nav>
      <%= link_to "Blog", root_path %>
      <button> admin login</button>
      <button> admin logout</button>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class:'alert') %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
